<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Twin Ware</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="logo">TwinWare</h1>
    </header>
    <div class="container">
        <div class="image-section">
            <img src="{{ url_for('static', filename='css/image/warehouse_background.png.webp') }}" alt="Warehouse Background">
        </div>
        <div class="text-section">
            <h1>Welcome to Twin Ware</h1>
            <p>We transform your warehouse into a smart & efficient space using AI-powered analytics.</p>
            <a href="{{ url_for('login') }}" class="btn">LET'S GO</a>
        </div>
    </div>
</body>
</html>