<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .container { max-width: 800px; margin: 0 auto; padding: 20px; }
        .button { margin-top: 20px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer; }
        .button:hover { background-color: #45a049; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Summary</h1>
        <div>
            {{ summary|safe }}
        </div>
        <h3>Download Cleaned File</h3>
        <a href="{{ url_for('download_cleaned_file', filename=cleaned_filename) }}" download>
            <button class="button">Download</button>
        </a>

        <h3>Proceed to Visualization</h3>
        <a href="{{ url_for('visualization', filename=cleaned_filename) }}">Go to Visualization</a>

        <h3>Proceed to 2D Warehouse Layout</h3>
        <a href="{{ url_for('warehouse_2d_model', filename=cleaned_filename) }}">
            <button class="button">Go to 2D Warehouse Layout</button>
        </a>

        <h3>Search & Filter</h3>
        <a href="{{ url_for('search_layout') }}">
            <button class="button">Go to Search & Filter</button>
        </a>

        <h3>Generate Report</h3>
        <a href="{{ url_for('generate_report', filename=cleaned_filename) }}">
            <button class="button">Go to Report</button>
        </a>

        <h3>Stock Demand Prediction</h3>
        <a href="{{ url_for('predict_stock_demand', filename=cleaned_filename) }}">
            <button class="button">Go to Prediction</button>
        </a>

        <h3>Stock Recommendations</h3>
        <a href="{{ url_for('recommend_stock', filename=cleaned_filename) }}">
            <button class="button">Go to Stock Recommendations</button>
        </a>

       

        <h3>Sales Trend Visualization</h3>
        <a href="{{ url_for('visualize_trends', filename=cleaned_filename) }}">
            <button class="button">Go to Sales Trend Visualization</button>
        </a>

        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
</body>
</html>